<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prato da Casa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="body-pd">
    <div class="navbar-1" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    <h6 href="#" class="nav__logo">Prato da Casa</h6>
                </div>
                <div class="nav__list">
                    <a asp-controller="Home" asp-action="Index" class="nav__link">
                        <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Salão</span>
                    </a>

                    <a asp-controller="Mesa"  asp-action="Index" class="nav__link">
                        <ion-icon name="tablet-landscape-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Mesas</span>
                    </a>
                    <a href="#" class="nav__link">
                        <ion-icon name="grid-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Cardápio</span>
                    </a>
                    <a href="#" class="nav__link">
                        <ion-icon name="call-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Contatos</span>
                    </a>
                </div>
            </div>

            <a href="#" class="nav__link">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">Logout</span>
            </a>

        </nav>
    </div>

    <main class="container">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
